<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.shadowsparky.messenger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".utils.Startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.AuthView" />
        <activity android:name=".messages_list.MessagesListView" />
        <activity android:name=".messages_view.MessagesView" />

        <service android:name=".notifications.FirebaseMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".open_photo.OpenPhotoView" />
        <activity android:name=".open_post.OpenPostView" />

        <service
            android:name=".services.SynchronizingService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>